<h1>Site::Welcome#index</h1>

<% if user_signed_in? %>
<p>Usuário logado: <%= current_user.email %> </p>
<% end %>

<% if admin_signed_in? %>
<p>Admin logado: <%= current_admin.email %> </p>
<% end %>